# File environment
.env

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Visual Studio / Rider
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Builds
*.apk
*.aab
*.tgz
*.log

# OS files
.DS_Store
Thumbs.db